venv
__pycache__
*.pyc
.ipynb_checkpoints
Dockerfile
.dockerignore
# Ignore large model files and database indexes during image build
models/*.pt
models/*.pth
data/*.index
data/*.npy
data/*.csv
data_new
